<footer class="modal-footer" style="background-color: lightgray" >

    <div class="row">
        <div class="col-xs-2 col-sm-6 col-md-6" align="center" >
            <h4>Linki:</h4>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6" align="center" >
            <h4>Kontakt:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-6 col-md-6" align="center" >
            <a href="/">Strona&nbspgłówna</a>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6" align="center" >
             <div class="col-xs-5 col-sm-5 col-md-5" align="right">
                <img style="max-width:25px; margin-top: 4px " src="{{ url_for('static', filename='images/email-filled-closed-envelope.png') }}">
             </div>
             <div class="col-xs-7 col-sm-7 col-md-7" align="left">
                <h5>kompix@gmail.com</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-6 col-md-6" align="center" >
            <a href="/">Strona&nbspgłówna</a>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6" align="center" >
             <div class="col-xs-5 col-sm-5 col-md-5" align="right">
                <img style="max-width:20px; margin-top: 6px" src="{{ url_for('static', filename='images/call-answer.png') }}">
             </div>
             <div class="col-xs-7 col-sm-7 col-md-7" align="left">
                <h5>500524622</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-6 col-md-6" align="center" >
            <a href="/">Strona&nbspgłówna</a>
        </div>

        <div class="col-xs-10 col-sm-6 col-md-6" align="center" >
            <div class="col-xs-5 col-sm-5 col-md-5" align="right">
                <img style="max-width:20px; margin-top: -2px" src="{{ url_for('static', filename='images/facebook-logo.png') }}">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7" align="left">
                <a href="https://www.facebook.com/FlameSzczepaN">Michał&nbspSzczepanowski</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" style="font-size: x-small">
        By Michał Szczepanowski @2019
        </div>
    </div>

</footer>