{% extends "base.html" %}
{% block content %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/helpers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-search"></span>
					Produkty w koszyku
				</div>
				<div class="panel-body">
					<div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                            <br>
                                {% if j_computers==0 %}
                                    <div class="row" align="center">
                                        <h4>
                                            Brak produktów.
                                        </h4>
                                    </div>
                                {% else %}
                                    {% for i in range(0,j_computers,1) %}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-2 col-md-2"></div>
                                            <div class="col-xs-3 col-sm-3 col-md-3" align="right">
                                                <a href="/komputery/produkt/{{records_computers[products_computers[i]][0]}}">
                                                    <img src="{{ url_for('static', filename=imagesource_computers[i]) }}" width="150px" height="150px" />
                                                </a>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5">
                                                <div class="row">
                                                    <h5>
                                                        <strong>{{ records_computers[products_computers[i]][1] }}</strong>
                                                    </h5>
                                                </div>
                                                <div class="row" align="center">
                                                    <h5>
                                                        <strong>Cena: {{ records_computers[products_computers[i]][2] }} PLN </strong>
                                                    </h5>
                                                </div>
                                                <br>
                                                <div class="row" align="center">
                                                    <button type="button" class="btn btn-danger btn-md remove_from_cart_komp" id="{{ i }}">
                                                        Usuń z koszyka
                                                        <span
                                                            class="glyphicon glyphicon-remove-circle">
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <br><br>
                                    {% endfor %}
                                {% endif %}
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $(".remove_from_cart_komp").click(function(event) {
                                    $.post('/remove_from_cart_komp', {
                                        productId: $(event.target).attr("id"),
                                    }).done(function(data) {
                                        if(data.status == "success") {
                                            window.location.reload(false);
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
				</div>
			</div>
		</div>
	</div>
    {% if suma>0 %}
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4" align="center"></div>
        <div class="col-xs-4 col-sm-4 col-md-4" align="center">
            <h4>
                <strong> Kwota do zapłaty: {{ suma }} PLN </strong>
            </h4>
            <a href="/pay/" class="btn btn-success btn-md">
                Zapłać teraz.
                <span
                    class="glyphicon glyphicon-shopping-cart">
                </span>
            </a>
        </div>
    </div>
    {% endif %}
    <br><br><br><br>
{% endblock %}
